{% extends 'base.html' %} {% block title %} Contact {% endblock title %} {% block body %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
    body {
        background: linear-gradient(to right, #c43c06 0%, #5c5454 100%);
    }
    
    .contact-section {
        background: url(images/bg.jpg) no-repeat center;
        background-size: cover;
        padding: 40px 0;
    }
    
    .contact-section h1 {
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    .border {
        width: 100px;
        height: 10px;
        background: #b61a05;
        margin: 40px auto;
    }
    
    .contact-form {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;
    }
    
    .contact-form-text {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 16px 0;
        border: 0;
        background: #111;
        padding: 20px 40px;
        outline: none;
        color: #ddd;
        transition: 0.5s;
    }
    
    .contact-form-text:focus {
        box-shadow: 0 0 10px 4px #b61a05;
    }
    
    textarea.contact-form-text {
        resize: none;
        height: 120px;
    }
    
    .contact-form-btn {
        float: right;
        border: 0;
        background: #b61a05;
        color: #fff;
        padding: 12px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .contact-form-btn:hover {
        background: #2980b9;
    }
</style>

<div class="contact-section">

    <h1>Contact Us</h1>
    <div class="border"></div>
    <form class="contact-form" action="" method="post">
        {% csrf_token %}
        <input type="text" class="contact-form-text" id="name" name="name" placeholder="Your name">
        <input type="email" class="contact-form-text" id="email" name="email" placeholder="Your email">
        <input type="phone" class="contact-form-text" id="phone" name="phone" placeholder="Your phone">
        <textarea for="desc" class="contact-form-text" id="desc" name="desc" placeholder="Your message"></textarea>
        <input type="submit" class="contact-form-btn" value="Send">
    </form>
    </div {% endblock body %}